// ---------------------------------------------------------------------
// Temple palette 

// Temple institutional
$temple-cherry: #9e1b34;
$temple-white: #f7f7f7;
$temple-black: #222222;
$temple-dark-grey: #494949;

//Temple accent colors
$temple-orange: #c76a30;
$temple-yellow: #ccb366;
$temple-green: #898963;
$temple-light-blue: #6695af;
$temple-dark-blue: #2a3a53;
$temple-light-grey: #a9b3b7;
$temple-frost: #e0e8ea;
$temple-lavendar-grey: #7e7683;

//Temple footer colors

$temple-footer-bottom: #070707;
$temple-footer-inner: #222222;
$temple-footer-gutters: #303030;

// ---------------------------------------------------------------------
// Other theme colors

// Basics 
$background: #fafafa;
$text-black: #050505;
$text-white: #ffffff;