<div class="collection-landing-page" id="africanAmericanCollectionLandingPage">
  <div class="image-ohist" id="africanAmericanMigrationCollectionImage">
    <%= content_tag :figure do -%>
      <%= image_tag "great-migration-cover.jpg", alt: "Waller-Anderson-Still Collection", title: "Helen Anderson Waller Collection, Charles L. Blockson Afro-American Collection, Temple University Libraries." %>
      <%= content_tag :figcaption do -%>
        Helen Anderson Waller Collection, Charles L. Blockson Afro-American Collection, Temple University Libraries.
      <% end -%>
    <% end -%>
  </div>

  <h1>African American Migration to Philadelphia Oral Histories</h1>

  <div class="browse-collection" id="africanAmericanCollectionBrowse">
    <h2>Browse the African American Migration Oral Histories</h2>
    <ul>
      <li><a href="<%= root_url %>catalog/facet/narrator_sim?facet.sort=index&f%5Bdigital_collection_sim%5D%5B%5D=African+American+Migration+to+Philadelphia+Oral+Histories">Browse by Narrator</a></li>
      <li><a href="<%= root_url %>catalog/facet/subject_sim?facet.sort=index&f%5Bdigital_collection_sim%5D%5B%5D=African+American+Migration+to+Philadelphia+Oral+Histories">Browse by Subject</a></li>
      <li><a href="<%= root_url %>?f%5Bdigital_collection_sim%5D%5B%5D=African+American+Migration+to+Philadelphia+Oral+Histories">Browse All</a></li>
  </div>

  <div class="about-collection" id="africanAmericanCollectionAbout">
    <h2>About the Collection</h2>
    <p>The first wave of the Great Migration begins in 1916 when African Americans leave the South to escape terror and segregation in search of better jobs, housing and education.  The 269 interviews were recorded between 1987 and 1988.  They include family history and all aspects of Black urban life experienced by the migrants in the City of Philadelphia.</p>
    <p>The Great Migration Oral History interviews were made possible through a grant awarded to Charles L. Blockson by Mayor John Street’s administration and the William Penn Foundation.</p>
  </div>

  <%= render partial: "/ada_note" %>

</div>
