<div class="collection-landing-page">
  <div class="image-ohist">
    <%= image_tag("feinstein_cover.jpg", alt: "Photograph of tallit hanging from railing") %>
    <%= content_tag(:figcaption, "Tallit hanging from railing, Philadelphia Geriatric Center, n.d.") %>
  </div>

  <h1>Feinstein Center Oral Histories</h1>

  <h2>Browse the Feinstein Oral Histories</h2>
  <ul>
  <li><a href="https://libdigital.temple.edu/oralhistories/catalog/facet/narrator_sim?facet.sort=index">Browse by Narrator</a></li>
  <li><a href="https://libdigital.temple.edu/oralhistories/catalog/facet/subject_sim">Browse by Subject</a></li>
  <li><a href="https://libdigital.temple.edu/oralhistories/?utf8=%E2%9C%93&search_field=all_fields&q=">Browse All</a></li>
  </ul>

  <h2>About the Collection</h2>
  <p>Among its goals, Temple University’s <a href="http://www.cla.temple.edu/feinsteincenter/">Feinstein Center for American Jewish History</a> promotes the study of the of the Philadelphia Jewish community.  In 2001, through grants from the Albert M. Greenfield Foundation, and The Pew Charitable Trusts, the center conducted oral history interviews with fifty Philadelphia Jewish men and women who played significant roles in business, political, cultural, educational, philanthropic, and other arenas of the social fabric of the community.</p>
</div>
