# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2d2aeb558de1eb38d623a4361e80006a8351ec1b629e62999128f9d96300ebdedfbed37bb7b924e3bfe165e55c0b4e951f73dc6e44fa6e2c3be3a9bf8f80623b

test:
  secret_key_base: 27c3aa6657415a418705a40feaa5ab6b522fd24e36e016acabc8eee56a0be85708e441377ea3cb4fb76d8ceec2be828755f9c2ca3b52911936cbacadf11e9590

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
