<h1><%= t('tul_ohist.welcome') %> <%= t('tul_ohist.application_name') %></h1>
<p><%= t('tul_ohist.intro_text') %></p>
<ul>
<li><a href="catalog/facet/narrator_sim?facet.sort=index">Browse by Narrator</a></li>
<li><a href="catalog/facet/subject_sim">Browse by Subject</a></li>
</ul>

