<h4><%= t('tul_ohist.welcome') %></h4>
<p>The SCRC is the principal repository for and steward of the Libraries’ rare books, manuscripts, archives and University records. We collect, preserve, and make accessible primary resources and rare or unique materials, to stimulate, enrich, and support research, teaching, learning, and administration at Temple University. SCRC makes these resources available to a broad constituency as part of the University's engagement with the larger community of scholars and independent researchers.</p>
<ul>
<li><a href="catalog/facet/narrator_sim?facet.sort=index">Browse by Narrator</a></li>
<li><a href="catalog/facet/subject_sim">Browse by Subject</a></li>
</ul>
<% #Creates a bit space in the page -%>

