@import "base/colors.scss";
@import "base/mixins.scss";

/******
*
* General class- and ID-specific theming 
*
******/

#main-container{
  padding: 0px 10px;
}

.main-column{
  float:left;
  width: 680px;
  padding-left: 30px;
}

.right-column{
  float: left;
  width: 270px;
}



/******
*
* Overriding Blacklight styles as needed
*
******/


#header-navbar .navbar-brand {
  width: 250px;
  height: 60px;
  margin-top: 10px;
  background: transparent asset-data-url("logo.png") no-repeat top left;
}

.navbar-inverse {
  background-color: $temple-black;
  border-color: $temple-dark-grey;
}

.panel-title a{
  color: $temple-light-blue;
}

.dl-invert dt {
  color: $temple-dark-grey;
}

.documentHeader {
  padding: 0px;
  margin:0px;
}

.portrait img {
  width: 290px;
}


/******
*
* Fixes mozilla peculiarities
*
******/

/* Fixes mid-word break in facet content */

@-moz-document url-prefix() {
  .facet-values .facet-label {
    word-break: normal;
  }
}


/* Remove below class to make responsive */
/*
.container {
    width: 1200px;
}
*/


/******
*
* Theming for plugins 
*
******/

/* Overlay style for the clickthrough */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $temple-white;
    filter:alpha(opacity=95);
    -moz-opacity:0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
    z-index: 100;
}




/* Other */

.image-ohist {
  float: right;
  margin: 10px;
}


/* search styling */

.secondary-input-group {
 float: right;
 padding-left: 20px;
}


#sort-dropdown{
  display: none;
}

/* Advanced search restyling */

.advanced-search-form {
  .sort-buttons {
    display: none;
  }
}


/* Homepage */

h2.homepage a {
  color: $temple-cherry;
}

#collections-ohist {
	.crop {
		width: 150px;
		height: 150px;
		overflow: hidden;
	}

	.crop img {
		width: 160%;
		height: 160%;
		margin-left: -90px;
		display: block;
	}

	#collections-left {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		float: left;
		width: 50%
	}

	#collecitons-right {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		float: right;
		width: 50%
	}
}

/* Landing Pages */

.collection-landing-page {
  h1 {
    text-align:center;
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  figure {
    display: table;
    width: 50%;
    text-align:right;
  }
  figcaption { 
    text-align:right;
    font-size: 12px;
  }
  .related-items {
    margin-top: 24px;
    p {
      line-height: 100%;
    }
  }
}
